body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 2vmin;
}

div {
  display: inline-block;
}

#left_panel {
  float:left;
}

#sam_input_panel {
  background-color: #eeeeee; /*gray*/
  display: block;
}

#visualization_panel {
  padding: 2vmin 2vmin 2vmin 2vmin;
  background-color: #ccffcc; /*green*/
  display: block;
}
#sam_table_panel {
  padding: 2vmin 2vmin 2vmin 2vmin;
  display: inline-block;
  background-color: #eeeeee; /*gray*/
}

#sam_input {
  padding: 2vmin 2vmin 2vmin 2vmin;
  overflow-y: scroll;
  resize: none;
}

table, th, td {
   border: 0.1px solid black;
}

#sam_table {
  background-color: #ffffff;
  font-size:0.9vmin;
}

text {
  font: 10vmin;
  font-family: 'Lato', sans-serif;
}
