body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-size: 1.4vmin;
  background-color: #eeeeee; /*gray*/
}

div {
  display: inline-block;
}

#left_panel {
  float:left;
}

#sam_input_panel {
  
  display: block;
}

#visualization_panel {
  padding: 2vmin 2vmin 2vmin 2vmin;
  display: block;
}
#sam_table_panel {
  font-size: 1.4vmin;
  padding: 2vmin 2vmin 2vmin 2vmin;
  display: inline-block;
}

#select_reads { /* just a label */
  visibility: hidden;
}

svg {
  background-color: #ffffff; /*white*/
}

#sam_input {
  padding: 2vmin 2vmin 2vmin 2vmin; 
  font-size: 1.4vmin; 
  overflow-y: scroll; 
  resize: none; 
  white-space: nowrap; /* overflow: auto;.*/
}

#sam_table table, #sam_table th, #sam_table td {
  text-align: center;
  padding: 0.3vmin 0.3vmin 0.3vmin 0.3vmin;
  border: 0.1px solid black;
  font-size: 1vmin;
  background-color: #ffffff;
}

th {
  font-weight: 900;
}

text {
  font-size: 1.4vmin;
  font-family: 'Lato', sans-serif;
}

.tip {
  font-size: 2vmin;
  font-weight: 900;
  font-family: 'Lato', sans-serif; 
}


#settings {
  visibility: hidden;
}

#settings_table table, #settings_table th, #settings_table td {
  /* top right bottom left */
  padding: 1vmin  0.2vmin 1vmin 0.2vmin;
  border: 0; /*.2px solid blue;*/
}

div.input-group {
  background-color: #bbbbbb;
  
}

.table_title {
  text-align: center;
  font-weight: 900;
  /*font-size: 2vmin;*/
}

#table_sep tr, #table_sep td {
  text-align: center;
  border-top: 2px solid gray;
  padding: 1vmin 1vmin 1vmin 1vmin ;
}
